---
- name: Create directories
  file: path={{ item.path }} state=directory mode={{ item.mode }}
  with_items:
          - { path: "{{ hadoop_install_dir }}", mode: '0755' }

- name: Copying templated files (provisioning scripts/config)
  template: src={{ item.src }} dest="{{ hadoop_install_dir}}/{{ item.dest }}" mode=0755
  with_items:
          - { src: 'container-executor.cfg.j2', dest: 'container-executor.cfg' }
          - { src: 'hadoop-config.sh.j2', dest: 'hadoop-config.sh' }
          - { src: 'provision-hadoop.sh.j2', dest: 'provision-hadoop.sh' }
          - { src: 'provision-master.sh.j2', dest: 'provision-master.sh' }
          - { src: 'provision-slave.sh.j2', dest: 'provision-slave.sh' }
          - { src: 'post-install.sh.j2', dest: 'post-install.sh' }
          - { src: 'set-hadoop-loglevel.sh.j2', dest: 'set-hadoop-loglevel.sh' }
          - { src: 'yarn-site.xml.j2', dest: 'yarn-site.xml' }

- name: Copying configuration/control scripts
  copy: src={{ item.file }} dest="{{ hadoop_install_dir }}/{{ item.file }}"  mode={{ item.mode }}
  with_items:
          - { file: 'core-site.xml', mode: '0644' }
          - { file: 'mapred-site.xml', mode: '0644'  }
          - { file: 'hadoop-env.sh', mode: '0755'  }
          - { file: 'capacity-scheduler.xml', mode: '0644'  }
          - { file: 'test-pi-yarn.sh', mode: '0755'  }
          - { file: 'test-pi-docker-yarn.sh', mode: '0755'  }
          - { file: 'test-pi-docker-yarn-am.sh', mode: '0755'  }
          - { file: 'test-pi-docker-yarn-mounts.sh', mode: '0755'  }
          - { file: 'add-docker-config.sh', mode: '0755'  }
          - { file: 'test-dshell-yarn.sh', mode: '0755'  }
          - { file: 'test-dshell-yarn-hdpuser.sh', mode: '0755'  }
          - { file: 'test-dshell-docker-yarn.sh', mode: '0755'  }
          - { file: 'test-dshell-docker-yarn-mounts.sh', mode: '0755'  }
          - { file: 'restart-hadoop-master-daemons.sh', mode: '0755'  }
          - { file: 'restart-hadoop-slave-daemons.sh', mode: '0755'  }
          - { file: 'start-nodemanager.sh', mode: '0755'  }
          - { file: 'restart-nodemanager.sh', mode: '0755'  }
          - { file: 'restart-yarn.sh', mode: '0755'  }
          - { file: 'create-cgroup-dirs.sh', mode: '0755'  }
          - { file: 'restart-hdfs.sh', mode: '0755'  }
          - { file: 'kill-all-apps.sh', mode: '0755' }
          - { file: 'get_dhcp_ip_via_br0.sh', mode: '0755' }
          - { file: 'build-docker-image-from-current-install.sh', mode: '0755' }
          - { file: 'test-sleep-yarn.sh', mode: '0755'  }
          - { file: 'test-sleep-docker-yarn.sh', mode: '0755'  }
          - { file: 'test-sleep-docker-yarn-am.sh', mode: '0755'  }
          - { file: 'restart-resourcemanager.sh', mode: '0755'  }

- name: Creating the hadoop group
  group: name=hadoop state=present gid=2000

- name: Creating the hdfs group
  group: name=hdfs state=present gid=2001

- name: Creating the hdfs user
  user: name=hdfs uid=2001 groups=hdfs,hadoop

- name: Creating the yarn group
  group: name=yarn state=present gid=2002

- name: Creating the yarn user
  user: name=yarn uid=2002 groups=yarn,hadoop

- name: Creating the hdpuser group
  group: name=hdpuser state=present gid=8888

- name: Creating the hdpuser user
  user: name=hdpuser uid=8888 groups=hdpuser

- name: Adding hadoop bin dir to PATH
  shell: ". /etc/profile && echo \"export PATH=$PATH:{{ hadoop_install_dir }}/hadoop/bin\" >> /etc/profile"

- name: Adding hadoop home to profile
  shell: ". /etc/profile && echo \"export HADOOP_HOME={{ hadoop_install_dir }}/hadoop\" >> /etc/profile"

- name: copy hdpuser sudoers include file
  action: template dest='/etc/sudoers.d/hdpuser' src='hdpuser.j2' owner=root group=root mode=440 force=yes validate='visudo -cf %s'
